@font-face{
	font-family: 'Sen-Regular';
	src: url('fonts/Sen/Sen-Regular.ttf');
}
@font-face{
	font-family: 'Roboto-Regular';
	src: url('fonts/Baloo_Chettan_2,Roboto/Roboto/Roboto-Regular.ttf');
}
@font-face{
	font-family: 'Merriweather-Regular';
	src:url(fonts/Merriweather/Merriweather-Regular.ttf);
}